{% extends "base.html" %}

{% block content %}
{% set onstep_device = onstep_device_name or '' %}
<div class="row valign-wrapper" style="margin: 0px;">
  <div class="col s12">
    <h3 class="grey-text">{{ _('INDI') }}</h3>
  </div>
</div>

{% if status_message %}
<div class="row">
  <div class="col s12">
    <p class="grey-text"><b>{{ status_message }}</b></p>
  </div>
</div>
{% endif %}

{% if error_message %}
<div class="row">
  <div class="col s12">
    <p class="red-text">{{ error_message }}</p>
  </div>
</div>
{% endif %}

<div class="card grey darken-2">
  <div class="card-content">
    <h5 class="grey-text">{{ _('Current INDI Driver State') }}</h5>
    <div class="row">
      <a href="#" id="indi_web_manager_link" class="btn">{{ _('INDI Web Manager') }}</a>
      <button type="button" id="restart_indi_button" class="btn">{{ _('Restart INDI') }}</button>
    </div>
    <table class="striped grey-text">
      <tbody>
        <tr><td>{{ _('INDI Profile') }}</td><td id="indi_profile_value">{{ indi_profile_name or '-' }}</td></tr>
        <tr><td>{{ _('Active Driver') }}</td><td id="indi_driver_value">{{ onstep_device or '-' }}</td></tr>
      </tbody>
    </table>
    {% if onstep_props %}
      <table class="striped grey-text">
        <tbody>
          <tr><td>{{ _('Connection') }}</td><td id="onstep_connection_value">{{ onstep_props.get(onstep_device ~ '.CONNECTION.CONNECT', '') }}</td></tr>
          <tr><td>{{ _('Serial Mode') }}</td><td id="onstep_serial_mode_value">{{ onstep_props.get(onstep_device ~ '.CONNECTION_MODE.CONNECTION_SERIAL', '') }}</td></tr>
          <tr><td>{{ _('TCP Mode') }}</td><td id="onstep_tcp_mode_value">{{ onstep_props.get(onstep_device ~ '.CONNECTION_MODE.CONNECTION_TCP', '') }}</td></tr>
          <tr><td>{{ _('Serial Port') }}</td><td id="onstep_serial_port_value">{{ onstep_props.get(onstep_device ~ '.DEVICE_PORT.PORT', '') }}</td></tr>
          <tr><td>{{ _('Network Host') }}</td><td id="onstep_network_host_value">{{ onstep_props.get(onstep_device ~ '.DEVICE_ADDRESS.ADDRESS', '') }}</td></tr>
          <tr><td>{{ _('Network Port') }}</td><td id="onstep_network_port_value">{{ onstep_props.get(onstep_device ~ '.DEVICE_ADDRESS.PORT', '') }}</td></tr>
          <tr><td>{{ _('OnStep Location') }}</td><td id="onstep_location_value">{{ onstep_location_display }}</td></tr>
          <tr><td>{{ _('Effective Coordinates') }}</td><td id="onstep_effective_location_value">{{ onstep_effective_location_display }}</td></tr>
          <tr><td>{{ _('INDI Driver Readback') }}</td><td id="onstep_raw_location_value">{{ onstep_props.get(onstep_device ~ '.GEOGRAPHIC_COORD.LAT', '-') }}, {{ onstep_props.get(onstep_device ~ '.GEOGRAPHIC_COORD.LONG', '-') }} / {{ onstep_props.get(onstep_device ~ '.GEOGRAPHIC_COORD.ELEV', '-') }}m</td></tr>
          <tr><td>{{ _('OnStep UTC Time') }}</td><td id="onstep_utc_time_value">{{ onstep_props.get(onstep_device ~ '.TIME_UTC.UTC', '-') }}</td></tr>
        </tbody>
      </table>
    {% else %}
      <p class="grey-text">{{ _('%(driver)s driver properties are not available. Start the INDI profile first.') % {'driver': onstep_device or _('Active INDI')} }}</p>
    {% endif %}
  </div>
</div>

<div class="card grey darken-2">
  <div class="card-content">
    <h5 class="grey-text">{{ _('SkySafari Mount Mode') }}</h5>
    <form action="/indi/skysafari" method="post" id="skysafari_mount_form" class="col s12">
      <div class="row">
        <div class="input-field col s12 m4">
          <input value="{{ mount_type }}" id="pifinder_mount_type" type="text" readonly>
          <label for="pifinder_mount_type" class="active">{{ _('PiFinder Mount Type') }}</label>
        </div>
        <div class="input-field col s12 m4">
          <select id="skysafari_lx200_mount_code" name="skysafari_lx200_mount_code">
            <option value="auto" {% if skysafari_lx200_mount_code == "auto" %}selected{% endif %}>{{ _('Auto') }}</option>
            <option value="A" {% if skysafari_lx200_mount_code == "A" %}selected{% endif %}>{{ _('Alt/Az') }}</option>
            <option value="P" {% if skysafari_lx200_mount_code == "P" %}selected{% endif %}>{{ _('Polar / EQ') }}</option>
            <option value="G" {% if skysafari_lx200_mount_code == "G" %}selected{% endif %}>{{ _('German EQ') }}</option>
          </select>
          <label>{{ _('SkySafari LX200 Mount Code') }}</label>
        </div>
        <div class="input-field col s12 m4">
          <input value="{{ indi_goto_refine_accuracy_arcmin }}" id="indi_goto_refine_accuracy_arcmin" type="number" min="0.1" step="0.1" name="indi_goto_refine_accuracy_arcmin">
          <label for="indi_goto_refine_accuracy_arcmin" class="active">{{ _('Refine Accuracy arcmin') }}</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <label>
            <input type="checkbox" name="skysafari_imu_align_without_solve" {% if skysafari_imu_align_without_solve %}checked{% endif %}>
            <span>{{ _('Use SkySafari Align to calibrate IMU before solve') }}</span>
          </label>
        </div>
        <div class="col s12 m6">
          <label>
            <input type="checkbox" name="skysafari_indi_goto" {% if skysafari_indi_goto %}checked{% endif %}>
            <span>{{ _('Forward SkySafari GoTo and Align/Sync to INDI') }}</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <label>
            <input type="checkbox" name="skysafari_indi_sync" {% if skysafari_indi_sync %}checked{% endif %}>
            <span>{{ _('Forward SkySafari Align/Sync to INDI even when GoTo forwarding is off') }}</span>
          </label>
        </div>
        <div class="col s12 m6">
          <label>
            <input type="checkbox" name="indi_goto_refine_once" {% if indi_goto_refine_once %}checked{% endif %}>
            <span>{{ _('One-shot solve refine after INDI GoTo') }}</span>
          </label>
        </div>
      </div>
      <div class="row">
        <button type="submit" class="btn">{{ _('Apply SkySafari Settings') }}</button>
      </div>
    </form>
  </div>
</div>

{% if is_onstepx_driver %}
<div class="card grey darken-2">
  <div class="card-content">
    <h5 class="grey-text">{{ _('Location and Time') }}</h5>
    <table class="striped grey-text">
      <tbody>
        <tr><td>{{ _('GPS Lock') }}</td><td id="pifinder_location_lock_value">{{ pifinder_location_time.lock_status }}</td></tr>
        <tr><td>{{ _('Location Source') }}</td><td id="pifinder_location_source_value">{{ pifinder_location_time.source }}</td></tr>
        <tr><td>{{ _('Location to Send') }}</td><td id="pifinder_location_value">{{ pifinder_location_time.latitude if pifinder_location_time.latitude != '' else '-' }}, {{ pifinder_location_time.longitude if pifinder_location_time.longitude != '' else '-' }} / {{ pifinder_location_time.elevation if pifinder_location_time.elevation != '' else '-' }}m</td></tr>
        <tr><td>{{ _('PiFinder UTC Time') }}</td><td id="pifinder_utc_time_value">{{ pifinder_location_time.utc_time }}</td></tr>
      </tbody>
    </table>
    <form action="/indi/location_time" method="post" id="location_time_form" class="col s12">
      <div class="row">
        <div class="input-field col s12 m3">
          <input id="latitude" type="number" step="any" name="latitude" value="{{ pifinder_location_time.latitude }}">
          <label for="latitude" class="active">{{ _('Latitude') }}</label>
        </div>
        <div class="input-field col s12 m3">
          <input id="longitude" type="number" step="any" name="longitude" value="{{ pifinder_location_time.longitude }}">
          <label for="longitude" class="active">{{ _('Longitude') }}</label>
        </div>
        <div class="input-field col s12 m3">
          <input id="elevation" type="number" step="any" name="elevation" value="{{ pifinder_location_time.elevation }}">
          <label for="elevation" class="active">{{ _('Elevation m') }}</label>
        </div>
        <div class="input-field col s12 m3">
          <input id="utc_time" type="text" name="utc_time" value="{{ pifinder_location_time.utc_time }}" readonly>
          <label for="utc_time" class="active">{{ _('UTC Time') }}</label>
        </div>
      </div>
      <div class="row">
        <button type="button" id="reload_location_values" class="btn">{{ _('Reload Current Values') }}</button>
        <button type="submit" class="btn">{{ _('Send Location and Time') }}</button>
      </div>
    </form>
  </div>
</div>

<div class="card grey darken-2">
  <div class="card-content">
    <h5 class="grey-text">{{ _('Mount Control') }}</h5>
    <div class="indi-park-state">
      <span>{{ _('Park State') }}</span>
      <strong id="indi_park_state_value">
        {% if onstep_props.get(onstep_device ~ '.TELESCOPE_PARK.PARK', '') == 'On' %}
          {{ _('Parked') }}
        {% elif onstep_props.get(onstep_device ~ '.TELESCOPE_PARK.UNPARK', '') == 'On' %}
          {{ _('Unparked') }}
        {% else %}
          {{ _('Unknown') }}
        {% endif %}
      </strong>
    </div>
    <div class="row">
      <div class="col s12 m6 indi-park-actions">
        <button type="button" data-park-action="SET_HOME" class="btn">{{ _('At Home') }}</button>
        <button type="button" data-park-action="RETURN_HOME" class="btn">{{ _('Return Home') }}</button>
        <button type="button" data-park-action="PARK" class="btn">{{ _('Park') }}</button>
        <button type="button" data-park-action="UNPARK" class="btn">{{ _('Unpark') }}</button>
        <button type="button" data-park-action="SET_PARK" class="btn">{{ _('Set-Park') }}</button>
      </div>
      <div class="col s12 m6">
        <div class="input-field col s8">
          <select name="slew_rate" id="slew_rate">
            {% for label in slew_rate_labels %}
            <option value="{{ loop.index0 }}" {% if onstep_props.get(onstep_device ~ '.TELESCOPE_SLEW_RATE.' ~ loop.index0|string, '') == 'On' %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
          </select>
          <label>{{ _('Slew Rate') }}</label>
        </div>
        <div class="input-field col s4">
          <span id="indi_action_status" class="grey-text"></span>
        </div>
      </div>
    </div>
    <div class="row indi-motion-grid">
      <button type="button" data-direction="northwest" class="btn indi-motion-northwest">{{ _('NE') }}</button>
      <button type="button" data-direction="north" class="btn indi-motion-north">{{ _('North') }}</button>
      <button type="button" data-direction="northeast" class="btn indi-motion-northeast">{{ _('NW') }}</button>
      <button type="button" data-direction="west" class="btn indi-motion-west">{{ _('East') }}</button>
      <button type="button" class="btn disabled indi-motion-center">{{ _('Hold') }}</button>
      <button type="button" data-direction="east" class="btn indi-motion-east">{{ _('West') }}</button>
      <button type="button" data-direction="southwest" class="btn indi-motion-southwest">{{ _('SE') }}</button>
      <button type="button" data-direction="south" class="btn indi-motion-south">{{ _('South') }}</button>
      <button type="button" data-direction="southeast" class="btn indi-motion-southeast">{{ _('SW') }}</button>
    </div>
  </div>
</div>

<div class="card grey darken-2">
  <div class="card-content">
    <h5 class="grey-text">{{ _('%(driver)s Driver Connection') % {'driver': onstep_device} }}</h5>
    <form action="/indi/driver" method="post" id="indi_mount_form" class="col s12">
      <div class="row">
        <div class="input-field col s12 m6">
          <select id="connection_type" name="connection_type">
            <option value="network" {% if connection_type == "network" %}selected{% endif %}>{{ _('Network TCP') }}</option>
            <option value="usb" {% if connection_type == "usb" %}selected{% endif %}>{{ _('USB Serial') }}</option>
          </select>
          <label>{{ _('Connection Type') }}</label>
        </div>
        <div class="input-field col s12 m3">
          <input value="{{ server_host }}" id="server_host" type="text" name="server_host">
          <label for="server_host" class="active">{{ _('INDI Server Host') }}</label>
        </div>
        <div class="input-field col s12 m3">
          <input value="{{ server_port }}" id="server_port" type="number" min="1" max="65535" name="server_port">
          <label for="server_port" class="active">{{ _('INDI Server Port') }}</label>
        </div>
      </div>

      <div id="network_settings">
        <div class="row">
          <div class="input-field col s12 m8">
            <select id="network_host" name="network_host">
              <option value="__manual__">{{ _('Manual entry') }}</option>
              {% for client in ap_clients %}
                {% if client.ip %}
                <option value="{{ client.ip }}" {% if network_host == client.ip %}selected{% endif %}>
                  {{ client.ip }}{% if client.hostname %} - {{ client.hostname }}{% endif %}{% if client.mac %} ({{ client.mac }}){% endif %}
                </option>
                {% endif %}
              {% endfor %}
            </select>
            <label>{{ _('OnStep Network Device') }}</label>
          </div>
          <div class="input-field col s12 m4">
            <input value="{{ network_port }}" id="network_port" type="number" min="1" max="65535" name="network_port">
            <label for="network_port" class="active">{{ _('OnStep TCP Port') }}</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input value="{{ network_host }}" id="network_manual" type="text" name="network_manual">
            <label for="network_manual" class="active">{{ _('Manual IP or Host') }}</label>
          </div>
        </div>
      </div>

      <div id="usb_settings">
        <div class="row">
          <div class="input-field col s12">
            <select id="serial_port" name="serial_port">
              <option value="__manual__">{{ _('Manual entry') }}</option>
              {% for port in serial_ports %}
              <option value="{{ port.path }}" {% if serial_port == port.path %}selected{% endif %}>{{ port.label }}</option>
              {% endfor %}
              {% if not serial_ports %}
              <option value="" disabled>{{ _('No USB serial ports detected') }}</option>
              {% endif %}
            </select>
            <label>{{ _('USB Serial Port') }}</label>
          </div>
        </div>
        {% if not serial_ports %}
        <div class="row">
          <div class="col s12">
            <p class="grey-text">{{ _('No /dev/serial/by-id, /dev/ttyUSB, or /dev/ttyACM ports are currently visible. Connect the USB-serial cable and reload this page, or use manual entry if the port name is known.') }}</p>
          </div>
        </div>
        {% endif %}
        <div class="row">
          <div class="input-field col s12">
            <input value="{{ serial_port }}" id="serial_manual" type="text" name="serial_manual">
            <label for="serial_manual" class="active">{{ _('Manual Serial Port') }}</label>
          </div>
        </div>
      </div>

      <div class="row">
        <button type="submit" class="btn">{{ _('Apply to INDI') }}</button>
      </div>
    </form>
  </div>
</div>

<div class="card grey darken-2">
  <div class="card-content">
    <h5 class="grey-text">{{ _('Settings') }}</h5>
    <h6 class="grey-text">{{ _('Backlash') }}</h6>
    <table class="striped grey-text">
      <tbody>
        <tr>
          <td>{{ _('Current Backlash') }}</td>
          <td id="backlash_current_value">
            RA {{ backlash_values.ra if backlash_values.ra != '' else '-' }} /
            DE {{ backlash_values.de if backlash_values.de != '' else '-' }}
          </td>
        </tr>
        <tr>
          <td>{{ _('Auto Calculation') }}</td>
          <td id="backlash_auto_status">
            {% set backlash_auto = mount_control_status.get('backlash_auto', {}) %}
            {{ backlash_auto.get('message') or mount_control_status.get('message') or '-' }}
          </td>
        </tr>
      </tbody>
    </table>
    <form action="/indi/backlash" method="post" id="indi_backlash_form" class="col s12">
      <div class="row">
        <div class="input-field col s12 m6">
          <input id="backlash_ra" type="number" min="0" max="999" step="1" name="backlash_ra" value="{{ backlash_values.ra }}">
          <label for="backlash_ra" class="active">{{ _('RA Backlash') }}</label>
        </div>
        <div class="input-field col s12 m6">
          <input id="backlash_de" type="number" min="0" max="999" step="1" name="backlash_de" value="{{ backlash_values.de }}">
          <label for="backlash_de" class="active">{{ _('DEC Backlash') }}</label>
        </div>
      </div>
      <div class="row">
        <button type="button" class="btn indi-backlash-auto" data-axis="ra">{{ _('Auto RA') }}</button>
        <button type="button" class="btn indi-backlash-auto" data-axis="de">{{ _('Auto DEC') }}</button>
        <button type="submit" class="btn">{{ _('Save Backlash') }}</button>
      </div>
    </form>
  </div>
</div>
{% else %}
<div class="card grey darken-2">
  <div class="card-content">
    <h5 class="grey-text">{{ _('INDI Driver') }}</h5>
    <p class="grey-text">
      {{ _('%(driver)s is selected in the active INDI profile. OnStepX-specific setup and motion controls are hidden for this driver.') % {'driver': onstep_device or _('No driver')} }}
    </p>
  </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
  var selects = document.querySelectorAll('select');
  M.FormSelect.init(selects);

  var connectionType = document.getElementById('connection_type');
  var managerLink = document.getElementById('indi_web_manager_link');
  var restartIndiButton = document.getElementById('restart_indi_button');
  var networkHost = document.getElementById('network_host');
  var networkManual = document.getElementById('network_manual');
  var networkSettings = document.getElementById('network_settings');
  var usbSettings = document.getElementById('usb_settings');
  var slewRate = document.getElementById('slew_rate');
  var actionStatus = document.getElementById('indi_action_status');
  var reloadLocationValues = document.getElementById('reload_location_values');
  var locationTimeForm = document.getElementById('location_time_form');
  var utcTimeInput = document.getElementById('utc_time');
  var backlashStatus = document.getElementById('backlash_auto_status');
  var serverUtcBaseMs = null;
  var serverUtcBasePerf = null;
  var initializedNetworkManual = false;
  var activeMotionPointer = null;
  var activeMotionDirection = null;
  var motionKeepaliveTimer = null;
  var onstepDeviceName = {{ onstep_device_name|default('', true)|tojson }};

  function onstepKey(propertyName) {
    return onstepDeviceName + '.' + propertyName;
  }

  function setActionStatus(message) {
    if (actionStatus) {
      actionStatus.textContent = message || '';
    }
  }

  function postIndiAction(url, data) {
    var body = new URLSearchParams(data);
    return fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8',
        'X-Requested-With': 'XMLHttpRequest'
      },
      body: body.toString()
    }).then(function(response) {
      return response.json().then(function(payload) {
        if (!response.ok || !payload.ok) {
          throw new Error(payload.error || payload.message || 'INDI command failed');
        }
        return payload;
      });
    });
  }

  function textOrDash(value) {
    if (value === undefined || value === null || value === '') {
      return '-';
    }
    return value;
  }

  function valueOrEmpty(value) {
    if (value === undefined || value === null) {
      return '';
    }
    return value;
  }

  function formatLocation(lat, lon, elev) {
    return textOrDash(lat) + ', ' + textOrDash(lon) + ' / ' + textOrDash(elev) + 'm';
  }

  function setText(id, value) {
    var element = document.getElementById(id);
    if (element) {
      element.textContent = value;
    }
  }

  function setInputValue(id, value) {
    var element = document.getElementById(id);
    if (element) {
      element.value = value;
    }
  }

  function pad2(value) {
    return String(value).padStart(2, '0');
  }

  function formatUtcDate(date) {
    return date.getUTCFullYear() + '-' +
      pad2(date.getUTCMonth() + 1) + '-' +
      pad2(date.getUTCDate()) + 'T' +
      pad2(date.getUTCHours()) + ':' +
      pad2(date.getUTCMinutes()) + ':' +
      pad2(date.getUTCSeconds());
  }

  function setServerUtcBase(utcText) {
    var parsed = Date.parse((utcText || '').replace(/Z$/, '') + 'Z');
    if (!isNaN(parsed)) {
      serverUtcBaseMs = parsed;
      serverUtcBasePerf = performance.now();
    }
  }

  function currentServerUtcText() {
    if (serverUtcBaseMs === null || serverUtcBasePerf === null) {
      return formatUtcDate(new Date());
    }
    return formatUtcDate(new Date(serverUtcBaseMs + performance.now() - serverUtcBasePerf));
  }

  function updateLiveUtcDisplay() {
    var utcText = currentServerUtcText();
    if (utcTimeInput) {
      utcTimeInput.value = utcText;
    }
    setText('pifinder_utc_time_value', utcText);
    M.updateTextFields();
  }

  function updateLocationValues(payload) {
    var pifinder = payload.pifinder_location_time || {};
    var onstep = payload.onstep_props || {};
    if (payload.onstep_device_name) {
      onstepDeviceName = payload.onstep_device_name;
    }

    setInputValue('latitude', valueOrEmpty(pifinder.latitude));
    setInputValue('longitude', valueOrEmpty(pifinder.longitude));
    setInputValue('elevation', valueOrEmpty(pifinder.elevation));
    setInputValue('utc_time', valueOrEmpty(pifinder.utc_time));
    setServerUtcBase(pifinder.utc_time);

    setText('pifinder_location_source_value', pifinder.source || '');
    setText('pifinder_location_lock_value', pifinder.lock_status || '');
    setText(
      'pifinder_location_value',
      formatLocation(pifinder.latitude, pifinder.longitude, pifinder.elevation)
    );
    updateLiveUtcDisplay();
    setText('onstep_location_value', payload.onstep_location_display || '-');
    setText(
      'onstep_effective_location_value',
      payload.onstep_effective_location_display || '-'
    );
    setText(
      'onstep_raw_location_value',
      formatLocation(
        onstep[onstepKey('GEOGRAPHIC_COORD.LAT')],
        onstep[onstepKey('GEOGRAPHIC_COORD.LONG')],
        onstep[onstepKey('GEOGRAPHIC_COORD.ELEV')]
      )
    );
    setText('onstep_utc_time_value', textOrDash(onstep[onstepKey('TIME_UTC.UTC')]));
    updateBacklashValues(payload.backlash_values || {}, payload.mount_control_status || {});
    setText('onstep_connection_value', textOrDash(onstep[onstepKey('CONNECTION.CONNECT')]));
    setText('onstep_serial_mode_value', textOrDash(onstep[onstepKey('CONNECTION_MODE.CONNECTION_SERIAL')]));
    setText('onstep_tcp_mode_value', textOrDash(onstep[onstepKey('CONNECTION_MODE.CONNECTION_TCP')]));
    setText('onstep_serial_port_value', textOrDash(onstep[onstepKey('DEVICE_PORT.PORT')]));
    setText('onstep_network_host_value', textOrDash(onstep[onstepKey('DEVICE_ADDRESS.ADDRESS')]));
    setText('onstep_network_port_value', textOrDash(onstep[onstepKey('DEVICE_ADDRESS.PORT')]));
    if (onstep[onstepKey('TELESCOPE_PARK.PARK')] === 'On') {
      setText('indi_park_state_value', '{{ _("Parked") }}');
    } else if (onstep[onstepKey('TELESCOPE_PARK.UNPARK')] === 'On') {
      setText('indi_park_state_value', '{{ _("Unparked") }}');
    } else {
      setText('indi_park_state_value', '{{ _("Unknown") }}');
    }
    if (slewRate) {
      for (var rate = 0; rate <= 9; rate += 1) {
        if (onstep[onstepKey('TELESCOPE_SLEW_RATE.' + rate)] === 'On') {
          slewRate.value = String(rate);
          M.FormSelect.init(slewRate);
          break;
        }
      }
    }
    M.updateTextFields();
  }

  function updateBacklashValues(values, mountStatus) {
    var raValue = valueOrEmpty(values.ra);
    var deValue = valueOrEmpty(values.de);
    setText(
      'backlash_current_value',
      'RA ' + textOrDash(raValue) + ' / DE ' + textOrDash(deValue)
    );
    if (raValue !== '') {
      setInputValue('backlash_ra', raValue);
    }
    if (deValue !== '') {
      setInputValue('backlash_de', deValue);
    }
    if (backlashStatus) {
      var autoInfo = mountStatus.backlash_auto || {};
      backlashStatus.textContent = autoInfo.message || mountStatus.message || '-';
    }
  }

  function refreshIndiState(showStatus) {
    if (showStatus) {
      setActionStatus('{{ _("Reading") }}');
    }
    return fetch('/indi/current_values', {
      headers: {'X-Requested-With': 'XMLHttpRequest'}
    }).then(function(response) {
      return response.json().then(function(payload) {
        if (!response.ok || !payload.ok) {
          throw new Error(payload.error || '{{ _("Could not read current values") }}');
        }
        return payload;
      });
    }).then(function(payload) {
      updateLocationValues(payload);
      if (showStatus) {
        setActionStatus('{{ _("Updated") }}');
      }
    }).catch(function(error) {
      if (showStatus) {
        setActionStatus(error.message);
      }
    });
  }

  if (reloadLocationValues) {
    reloadLocationValues.addEventListener('click', function(event) {
      event.preventDefault();
      refreshIndiState(true);
    });
  }

  if (utcTimeInput) {
    setServerUtcBase(utcTimeInput.value);
    updateLiveUtcDisplay();
    setInterval(updateLiveUtcDisplay, 1000);
  }

  if (locationTimeForm) {
    locationTimeForm.addEventListener('submit', function() {
      updateLiveUtcDisplay();
    });
  }

  function updateConnectionSections() {
    if (!connectionType || !networkSettings || !usbSettings) {
      return;
    }
    var isUsb = connectionType.value === 'usb';
    networkSettings.style.display = isUsb ? 'none' : 'block';
    usbSettings.style.display = isUsb ? 'block' : 'none';
  }

  function updateNetworkManual() {
    if (!networkHost || !networkManual) {
      return;
    }
    if (networkHost.value === '__manual__') {
      if (initializedNetworkManual) {
        networkManual.value = '';
      }
    } else {
      networkManual.value = networkHost.value;
    }
    M.updateTextFields();
    initializedNetworkManual = true;
  }

  if (connectionType) {
    connectionType.addEventListener('change', updateConnectionSections);
  }
  if (networkHost) {
    networkHost.addEventListener('change', updateNetworkManual);
  }
  if (slewRate) {
    slewRate.addEventListener('change', function() {
      setActionStatus('{{ _("Setting") }}');
      postIndiAction('/indi/slew_rate', {slew_rate: slewRate.value})
        .then(function() { setActionStatus('{{ _("Applied") }}'); })
        .catch(function(error) { setActionStatus(error.message); });
    });
  }

  document.querySelectorAll('[data-park-action]').forEach(function(button) {
    button.addEventListener('click', function(event) {
      event.preventDefault();
      setActionStatus(button.textContent.trim());
      postIndiAction('/indi/park', {park_action: button.dataset.parkAction})
        .then(function() { setActionStatus('{{ _("Command sent") }}'); })
        .catch(function(error) { setActionStatus(error.message); });
    });
  });

  document.querySelectorAll('.indi-backlash-auto').forEach(function(button) {
    button.addEventListener('click', function(event) {
      event.preventDefault();
      if (backlashStatus) {
        backlashStatus.textContent = '{{ _("Starting auto calculation") }}';
      }
      postIndiAction('/indi/backlash/auto', {axis: button.dataset.axis})
        .then(function(payload) {
          if (backlashStatus) {
            backlashStatus.textContent = payload.message || '{{ _("Auto calculation requested") }}';
          }
        })
        .catch(function(error) {
          if (backlashStatus) {
            backlashStatus.textContent = error.message;
          }
        });
    });
  });

  function clearMotionKeepalive() {
    if (motionKeepaliveTimer !== null) {
      clearInterval(motionKeepaliveTimer);
      motionKeepaliveTimer = null;
    }
  }

  function sendMotionKeepalive() {
    if (!activeMotionDirection) {
      return;
    }
    postIndiAction('/indi/motion', {
      direction: activeMotionDirection,
      keepalive: '1'
    }).catch(function(error) {
      setActionStatus(error.message);
    });
  }

  function startMotionKeepalive(direction) {
    clearMotionKeepalive();
    activeMotionDirection = direction;
    motionKeepaliveTimer = setInterval(
      sendMotionKeepalive,
      {{ web_motion_keepalive_ms }}
    );
  }

  document.querySelectorAll('.indi-motion-grid [data-direction]').forEach(function(button) {
    function startMotion(event) {
      event.preventDefault();
      if (activeMotionPointer !== null) {
        return;
      }
      activeMotionPointer = event.pointerId;
      activeMotionDirection = button.dataset.direction;
      button.setPointerCapture(event.pointerId);
      setActionStatus(button.textContent.trim());
      postIndiAction('/indi/motion', {direction: button.dataset.direction})
        .then(function() { startMotionKeepalive(button.dataset.direction); })
        .catch(function(error) {
          activeMotionPointer = null;
          activeMotionDirection = null;
          clearMotionKeepalive();
          setActionStatus(error.message);
        });
    }

    function stopMotion(event) {
      if (activeMotionPointer === null) {
        return;
      }
      if (event && event.pointerId !== activeMotionPointer) {
        return;
      }
      activeMotionPointer = null;
      activeMotionDirection = null;
      clearMotionKeepalive();
      setActionStatus('{{ _("Stop") }}');
      postIndiAction('/indi/motion', {direction: 'stop'})
        .then(function() { setActionStatus(''); })
        .catch(function(error) { setActionStatus(error.message); });
    }

    button.addEventListener('pointerdown', startMotion);
    button.addEventListener('pointerup', stopMotion);
    button.addEventListener('pointercancel', stopMotion);
    button.addEventListener('pointerleave', stopMotion);
    button.addEventListener('contextmenu', function(event) {
      event.preventDefault();
    });
  });

  function stopActiveMotion() {
    if (activeMotionPointer === null && activeMotionDirection === null) {
      return;
    }
    activeMotionPointer = null;
    activeMotionDirection = null;
    clearMotionKeepalive();
    postIndiAction('/indi/motion', {direction: 'stop'}).catch(function() {});
  }

  window.addEventListener('blur', stopActiveMotion);
  document.addEventListener('visibilitychange', function() {
    if (document.hidden) {
      stopActiveMotion();
    }
  });

  if (managerLink) {
    managerLink.href = window.location.protocol + '//' + window.location.hostname + ':8624/';
  }
  if (restartIndiButton) {
    restartIndiButton.addEventListener('click', function(event) {
      event.preventDefault();
      setActionStatus('{{ _("Restarting INDI") }}');
      restartIndiButton.disabled = true;
      postIndiAction('/indi/restart', {})
        .then(function() { setActionStatus('{{ _("Restart requested") }}'); })
        .catch(function(error) { setActionStatus(error.message); })
        .finally(function() { restartIndiButton.disabled = false; });
    });
  }
  setInterval(function() {
    refreshIndiState(false);
  }, 5000);
  updateConnectionSections();
  updateNetworkManual();
});
</script>
{% endblock %}
