[Unit]
Description=PiFinder AP / AP+STA Virtual AP Interface
After=sys-subsystem-net-devices-wlan0.device NetworkManager.service
Wants=NetworkManager.service
Before=hostapd.service dnsmasq.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash __PIFINDER_REPO_DIR__/scripts/pifinder_apsta.sh prepare
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
